persistence true
persistence_location /mosquitto/data/

user mosquitto

# Listen on all interfaces 
listener 1883

# Allow connection without authentication (dev only, read article to understand how to set u/p)
# allow_anonymous true

password_file /mosquitto/config/credentials

log_dest file /mosquitto/log/mosquitto.log
log_dest stdout